<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Everjobs Suite" >
 
   	<test name="ChromeTest">
	  <parameter name="Browser" value="Chrome"></parameter>
		<classes>
			<class name="Tests.TestBase"/> 
			<!-- <class name="Tests.LoginTest"/>   -->
			<!-- <class name="Tests.HomePageTest"/>  -->
			<class name="Tests.TableLinkPageTest"/>
		</classes>	
	</test> 
	
</suite> 